<!DOCTYPE html>
<html>
  <body>
    <h1>Today</h1>
    <% date = Date.today.strftime("%A") %>
    <% month-day = Date.today.strftime("%B %d") %>
    <% year = Date.today.strftime("%Y") %>
    <p><%= "The date is #{date}, #{month}, #{year}" %></p>
  </body>
</html>